**14. Qué porcentaje de contenido geolocalizado de wikipedia NO está en la tierra
(⭐)**

In [ ]:
import pandas as pd
import numpy as np
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

Para este ejercicio voy a utilizar el csv: **geo_tags**

In [ ]:
id='1qLu79VkVJxWp9i4Pnq9cxSLjW6Nipxp9'
downloaded = drive.CreateFile({'id': id})
downloaded.GetContentFile('geo_tags.csv')

In [ ]:
geo_tags = pd.read_csv('geo_tags.csv', encoding='latin-1', \
                            dtype={'gt_globe':'category','gt_name':'category', 'gt_type': 'category',\
                                   'gt_country':'category', 'gt_region':'category'})
geo_tags.head()

     gt_id  gt_page_id gt_globe  ...  gt_name  gt_country  gt_region
0   158041     4328020    earth  ...      NaN         NaN        NaN
1  5844377     4670424    earth  ...      NaN         NaN        NaN
2  5844381     4670424    earth  ...      NaN         NaN        NaN
3  5844383     4670424    earth  ...      NaN         NaN        NaN
4  5844388     4670424    earth  ...      NaN         NaN        NaN

[5 rows x 11 columns]

In [ ]:
geo_tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 556393 entries, 0 to 556392
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   gt_id       556393 non-null  int64
 1   gt_page_id  556393 non-null  int64
 2   gt_globe    556393 non-null  category
 3   gt_primary  556393 non-null  int64
 4   gt_lat      556393 non-null  float64
 5   gt_lon      556393 non-null  float64
 6   gt_dim      556393 non-null  int64
 7   gt_type     449893 non-null  category
 8   gt_name     72557 non-null   category
 9   gt_country  79192 non-null   category
 10  gt_region   3088 non-null    category
dtypes: category(5), float64(2), int64(4)
memory usage: 33.7 MB

Para este ejercicio, lo único que necesito analizar son las geolocalizaciones globales. (columna: **gt_globe**)

In [ ]:
gt_globe = geo_tags['gt_globe']
gt_globe.value_counts()

earth        545154
moon           9061
mars           1438
mercury         561
ganymede        116
venus            24
phobos           20
titan             4
callisto          3
io                2
titania           2
deimos            2
mimas             1
oberon            1
tethys            1
hyperion          1
umbriel           1
enceladus         1
Name: gt_globe, dtype: int64

Como se puede ver, el gran porcentaje de contenido se encuentra geolocalizado en la Tierra.

In [ ]:
(gt_globe !='earth').mean() * 100

2.0199750895500124

El porcentaje de contenido que NO esta geolocalizado en la Tierra es aproximadamente del 2%